
p {
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }

#topDiv{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color:#4aaaa5;
}

#middleDiv{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color:#ffffff; 
}

#middleSection{
    margin-top: 100px;
    margin-bottom: auto;
}

#bottomDiv{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 40px; 
    border-top: 8px solid #4aaaa5;
    background-color: gray;
      
}

#nameDiv{
    width: 25%;
    float: left;
}

#copyR {
    text-align: center;
}

.topTabs{
    width: 10%;
    float: right;
}

body  {
     background-image: url("../images/checkerboard-cross.png");

}
/* div {
    padding: 20px;
    /* margin-bottom: 20px; */
    /* background: #FFA500; */
  } */
