
h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
}
p {
    /* font-size: 24px; */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
  }

#topDiv{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    background-color: #ffffff;
}

#middleDiv{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color:#ffffff; 
}

#topSection{
    width: 100%;
    background-color:#ffffff;
    position: fixed;
    top: 0;
    left: 0;    
    border-bottom: 3px solid #EEEEEE;

}

#theAbout {
    color: #4aaaa5
}
#middleSection{
    width: 960px;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 90px;
}

#bottomDiv{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;    
    height: 70px;
    border-top: 8px solid #4aaaa5;
    background-color:#666666;
      
}

#nameDiv{
    width: 25%;
    float: left;
    background-color:#4aaaa5;
    height: 70px;
    text-align: center; 
    vertical-align: middle;
}

#copyR {
    text-align: center;
    bottom: 0;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff
}

.topTabs{
    width: 10%;
    float: right;
    margin-top: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

body  {
     background-image: url("../images/checkerboard-cross.png");

}
/* div {
    padding: 20px;
    /* margin-bottom: 20px; */
    /* background: #FFA500; */
  } */

#descText{
    overflow: auto;

}

.orenPic {
    float: left;
    padding: 10px;
  }
